@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Roboto:wght@400;700&family=Space+Grotesk:wght@700&display=swap');

@keyframes slide-down {    
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    50% {
        transform: translateY(-8px);
        opacity: .8;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-left {    
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {    
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

:root {
    --yellow: rgb(255, 234, 0);
    --blue: rgb(22, 138, 170);
}

html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    /* display: grid;
    grid-template-rows: auto;
    min-height: 100vh; */
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue);
    color: white;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 3rem;
    margin: 0;
}

#about-me:hover, #projects:hover, #contact:hover {
    color: white;
}

p {
    margin: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

figure {
    margin: 0;
}


section {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
    min-height: 80vh;
}

/* Nav */ 

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--blue);
}

.links {
    display: flex;
    gap: 3rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
    width: 100%;
    padding: 0;
}

nav a {
    color: white;
}

nav a:hover {
    color: var(--yellow);
}


/* Welcome */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.emphasis {
    color: var(--yellow);
}

.welcome h1 {
    font-size: 5rem;
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 0;
    margin-bottom: 20%; 
    /* animation: 1s ease-out slide-down; */
}

.welcome p {
    font-size: 1.25rem;
}

.welcome img {
    object-fit: contain;
    max-width: 300px;
}

.welcome {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 100vh;
}

/* About Me */

.about-me {
    min-height: 90vh;
    padding-top: 4rem;
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr 1fr;
    font-size: 1.35rem;
    margin: 3rem 0;
}

.about-me img {
    max-width: 550px;
}

.about-me p {
    margin-top: 3rem;
    max-width: 600px;
}

/* Projects */

.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    justify-content: center;
    margin: 4rem 0;
}

.projects h3 {
    font-size: 1.75rem;
}

.projects p {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.project {
    display: grid;
    grid-template-columns: minmax(200px, 800px) minmax(200px, 400px);
    gap: 2rem;
}

.screenshot:hover {
    box-shadow:
        0 0 0 4px var(--blue),
        0 0 0 6px var(--yellow);
    cursor: pointer;
}

.screenshot {
    background-color: rgb(232, 232, 232);
    height: 400px;
}

.description {
    padding: .75rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container img {
    width: 30px;
}

.title-container h3 {
    margin: 0;
}

.contact-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   margin: 0;
   padding: 0;
}
 .contact-info li {
    margin: 0;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 5rem auto;
    font-size: 1.25rem;
}

.contact-info-container p {
    text-align: center;
}

.icons {
    display: flex;
    gap: 2rem;
}

.contact a {
    color: white;
}

.contact a:hover {
    color: var(--yellow);
}

.contact img {
    max-width: 300px;
}

footer {
    text-align: center;
    padding: .5rem;
    margin-top: 5rem;
}

/* Smartphone */

@media (max-width: 480px) {

    nav ul {
        margin: 1rem;
    }

    .links {
        display: none;
    }

    .welcome h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
        margin: 1rem auto;
    }

    p {
        margin: 0;
    }

    section {
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .about-me {
        min-height: auto;
    }

    .about-me p {
        margin: 0;  
    }

    .me-info {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 1rem 0;
        gap: 3rem;
    }

    .me-info img {
        margin: 0 auto;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        justify-content: center;
        margin: 1rem 0 0 0;
    }

    .project:hover {
        box-shadow: none;
    }

    .contact-info-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

/* Tablet */

@media (min-width: 481px) and (max-width: 1180px) {
    p {
        margin: 0;
        font-size: 1.5rem;
    }

    li {
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    a:hover {
        color: white;
    }

    h3 {
        font-size: 1.65rem;
    }

    nav ul {
        margin: 1rem;
    }

    .links {
        gap: 0;
    }

    section {
        padding: 4rem;
    }

    .welcome h1 {
        font-size: 3.7rem;
    }

    .about-me {
        min-height: auto;
    }

    .about-me img {
        max-width: 400px;
    }

    .me-info {
        margin: 2rem 0 0 0;
    }

    .screenshot:hover {
        box-shadow: none;
    }

}

