@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Libre+Franklin:wght@700&family=Patua+One&display=swap');

@keyframes slide-down {    
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    50% {
        transform: translateY(-20px);
        opacity: .3;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-left {    
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {    
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

:root {
    --yellow: rgb(255, 234, 0);
    --blue: rgb(58, 167, 181);
    --background: #fbf7f5;
    --text: rgb(73, 73, 73);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
}

h2 {
    font-family: 'Patua One', cursive;
    font-size: 3rem;
    margin: 0;
}

#about-me:hover, #projects:hover, #contact:hover {
    color: var(--text);
}

p {
    margin: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

figure {
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
    min-height: 80vh;
}

.section-animation {
    animation: .75s ease-out slide-down;
}

/* Nav */ 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background);
}

.links {
    display: flex;
    gap: 3rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: .75rem 4rem;
}

nav li, nav a {
    margin: 0;
}

nav li {
    margin-top: 12px;
}

nav a {
    color: var(--text);
}

nav li:hover, .selected-link {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.right-side {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.language {
    display: flex;
    gap: 2rem;
}

.language img {
    max-width: 40px;
}

.language img:hover {
    border-bottom: 1px solid var(--blue);

}

.selected-lang {
    border-bottom: 1px solid var(--blue);
}

/* Home */

.home {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home-animation {
    animation: 1s ease-in slide-right;
}

.emphasis {
    color: var(--blue);
}

.home h1 {
    font-size: 5rem;
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 0;
    margin-bottom: 10%; 
}

.home p {
    font-size: 1.25rem;
}

.home img {
    object-fit: contain;
    max-width: 300px;
}

/* About Me */

.about-me {
    min-height: 90vh;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    font-size: 1.35rem;
    margin: 3rem 0;
}

.me-info {
    margin-bottom: 5rem;
}

.about-me img {
    max-width: 550px;
}

.about-me p {
    margin-top: 3rem;
    max-width: 600px;
}

/* Projects */

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    margin: 4rem 0;
}

.projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 5rem;
    margin-right: 6rem;
}

.projects-header hr {
    width: 100%;
    color: var(--text);
    margin-left: 0;
}

.projects-header h2 {
    flex-shrink: 0;
}

.projects p {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.project {
    display: flex;
    flex-direction: column;
}

.screenshot {
    width: 100%;
    transition: box-shadow .2s ease-out;
    display: flex;
    align-items: center;
}

.screenshot:hover {
    box-shadow:
        0 0 0 4px var(--background),
        0 0 0 6px var(--blue);
    cursor: pointer;
}

.description {
    padding: .75rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.description p {
    margin: 0;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container img {
    max-width: 40px;
}

.title-container h3 {
    margin: 0;
    font-size: 1.5rem;
}

/* Contact */

.contact {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contact-left {
   display: flex;
   flex-direction: column;
   justify-self: end;
   gap: 2rem;
   margin: 0;
   padding: 0;
   margin-bottom: 20%;
}

.contact-left p {
    max-width: 550px;
}

.contact img {
    max-width: 300px;
}

.contact a {
    color: var(--text);
}

.contact a:hover {
    color: var(--blue);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    padding: .5rem 3rem;
    box-shadow:
        0 0 0 4px var(--yellow),
        0 0 0 8px rgb(239, 170, 246);
    color: white;
}

.icons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.icons li {
    display: flex;
    align-items: center;
    margin: 0;
}

.icons img {
    max-width: 40px;
}

/* Smartphone */

@media (max-width: 480px) {

    nav ul {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .links {
        display: none;
    }

    .home {
        display: flex;
    }

    .home h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .home-animation, .section-animation {
        animation: none;
    }

    h2 {
        font-size: 2.5rem;
        margin: 0 auto 2rem auto;
    }

    p {
        margin: 0;
    }

    section {
        padding: 0 1.5rem;
        display: flex;
        justify-content: center;
    }

    .about-me {
        min-height: auto;
        flex-direction: column;
        gap: 2rem;
        padding-top: 0;
        margin-top: 0;
    }

    .about-me p {
        margin: 0 0 1rem 0;  
    }

    .me-info {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 1rem 0;
        gap: 3rem;
    }

    .about-me img {
        max-width: 300px;
        margin: 0 auto;
    }

    hr {
        display: none;
    }

    .work {
        padding-top: 3rem;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));        
        gap: 3rem;
        justify-content: center;
        margin: 1rem 0 0 0;
    }

    .project:hover {
        box-shadow: none;
    }

    .projects-header {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    .projects-header h2 {
        margin-left: 0;
    }

    .title-container img {
        width: 30px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        min-height: 100vh;
    }

    .contact h2 {
        margin-bottom: 1rem;

    }

    .contact img {
        max-width: 200px;
    }

    .contact-left {
        margin: 0;
        gap: 1rem;
    }

    .icons {
        gap: .5rem;
    }

    footer {
        padding: .5rem 1rem;
    }

}

/* Tablet */

@media (min-width: 481px) and (max-width: 1180px) {
    p {
        margin: 0;
        font-size: 1.5rem;
    }

    li {
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    section {
        padding: 4rem;
    }

    .home h1 {
        font-size: 3.7rem;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me img {
        max-width: 400px;
    }

    .me-info {
        margin: 2rem 0 0 0;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));        
        gap: 3rem;
        justify-content: center;
        margin: 4rem 0 0 0;
    }

    .screenshot {
        width: 100%;
    }

    .screenshot:hover {
        box-shadow: none;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 2rem;
    }

    .contact-left {
        margin-bottom: 0;
    }

}

