@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Roboto:wght@400;700&family=Space+Grotesk:wght@700&display=swap');

body {
    /* display: grid;
    grid-template-rows: auto;
    min-height: 100vh; */
    font-family: 'Roboto', sans-serif;
    background-color: rgb(149, 176, 191);
    margin: 0;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav a {
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-me {
    height: 95vh;
    display: block;
    color: white;
    /* animation: 1s linear fadein; */
}

.about-me-text {
    margin-top: 14%;
    margin-left: 20%;
}

.about-me p {
    font-size: 1.25rem;
    line-height: 1.3;
}

.about-me h1 {
    font-size: 5rem;
    font-family: 'Libre Franklin', sans-serif;
    margin: .5rem 0;
}

.work {
    background-color: white;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 2rem;
    justify-content: center;

}

.project {
    border: 1px solid grey;
}

.screenshot {
    background-color: bisque;
    height: 200px;
}

.description {
    padding: .75rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container img {
    width: 30px;
}

.title-container h3 {
    margin: 0;
}

.contact {
    color: white;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
}

.contact a {
    color: white;
}

footer {
    text-align: center;
    padding: .5rem;
}